<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297899706501-g1ijihd711pfu7kthejj9pp350v5pqgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297899706501-g1ijihd711pfu7kthejj9pp350v5pqgs</string>
	<key>API_KEY</key>
	<string>AIzaSyA8XaipvMO0WlTBQQiyVcEvkp2w-qgoDlc</string>
	<key>GCM_SENDER_ID</key>
	<string>297899706501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adoptionApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>adoption-app-cfcd4</string>
	<key>STORAGE_BUCKET</key>
	<string>adoption-app-cfcd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297899706501:ios:09324b35bef9c4b7cf41ec</string>
	<key>DATABASE_URL</key>
	<string>https://adoption-app-cfcd4-default-rtdb.firebaseio.com</string>
</dict>
</plist>